{{launch-min-info
  name=detailedLaunch.flight_number
  date=detailedLaunch.launch_date_utc
}}
{{#if detailedLaunch.links.mission_patch}}
  <img src={{detailedLaunch.links.mission_patch}} width="200px">
{{/if}}

<table>
  <caption>Rocket</caption>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>type</th>
  </tr>
  <tr>
    <td>{{detailedLaunch.rocket.rocket_id}}</td>
    <td>{{detailedLaunch.rocket.rocket_id}}</td>
    <td>{{detailedLaunch.rocket.rocket_id}}</td>
  </tr>
</table>

<table>
  <caption>Payloads</caption>
  <tr>
    <th>id</th>
    <th>type</th>
    <th>mass</th>
  </tr>
  {{#each detailedLaunch.payloads as |payload|}}
    <tr>
      <td>{{payload.payload_id}}</td>
      <td>{{payload.payload_type}}</td>
      {{#if usesKg}}
        <td>
          {{payload.payload_mass_kg}} kg
          <button {{action (mut usesKg) false}}>switch to lbs</button>
        </td>
      {{else}}
        <td>
          {{payload.payload_mass_lbs}} lbs
          <button {{action (mut usesKg) true}}>switch to kgs</button>
        </td>
      {{/if}}
    </tr>
  {{/each}}
</table>
<div>launch result: {{bool-to-string detailedLaunch.launch_success}}</div>
<div>land result: {{bool-to-string detailedLaunch.land_success}}</div>
{{!-- TODO do more then true --}}
<div>{{detailedLaunch.details}}</div>
{{!-- TODO style details --}}
{{!-- TODO add map https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyANPmHQdgnsO3OTgZFqsPHXB7_vCVIu1kk --}}
